<h1>Search Result</h1>
<div id="container">
        <div id="srchbox" style="width: 20em;margin-left:8em;margin-right: 10em;background-color: white;">

<table border=1>
	 <% @t=Book.find_by_title(params[:bs_title]) %>
	
	<tr>
		<th>Access No.</th>
		<th>Title</th>
		<th>Author</th>
		<th>Edition</th>
		<th>Publisher</th>
	</tr>
	<tr>
		<td> <%=  @t.access_no %> </td>
		<td> <%= @t.title %> </td>
		<td> <%= @t.author %> </td>
		<td> <%= @t.edition %> </td>
		<td> <%= @t.publisher %> </td>
	</tr>
</table>
</div>
</div>
<br><br>

<a href="/books/index">Back</a>

